---
import { client } from '../../lib/sanity';
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';

const posts = await client.fetch(`*[_type == "post"] {
  _id,
  title,
  "slug": slug.current,
  mainImage,
  'excerpt': array::join(string::split(pt::text(body), '')[0..200], '') + '...',
}`);
---

<Layout title="Daftar Blog">
	<div class="space-y-8">
		<h1 class="text-4xl font-extrabold text-center text-gray-900 mb-12">Daftar Artikel</h1>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
			{posts.map((post) => (
				<Card post={post} />
			))}
		</div>
	</div>
</Layout>