---
// src/components/Footer.astro
---

<footer class="bg-black text-white py-12">
  <div class="container mx-auto text-center">
    <p>&copy; 2025 Jasa Webku. All rights reserved.</p>
  </div>
</footer>