---
import ThemeToggle from './ThemeToggle.astro';
---

<header class="bg-yellow-50/60 dark:bg-neutral-800/80 backdrop-blur-lg shadow-lg sticky top-4 z-50 rounded-full mx-auto w-11/12 max-w-7xl
              border border-yellow-100/40 dark:border-neutral-700/40">
    <nav class="px-6 py-4 flex items-center justify-between">
        <a href="/" class="text-3xl font-extrabold text-neutral-800 dark:text-white tracking-tight transition-colors duration-300">
            Jasa Webku
        </a>

        <div class="flex items-center space-x-6">
            <div class="hidden md:flex items-center space-x-6">
                <a href="/" class="text-neutral-600 dark:text-neutral-300 font-medium hover:text-orange-400 dark:hover:text-orange-300 transition-colors duration-300">Home</a>
                <a href="/blog" class="text-neutral-600 dark:text-neutral-300 font-medium hover:text-orange-400 dark:hover:text-orange-300 transition-colors duration-300">Blog</a>
                <a href="#" class="text-neutral-600 dark:text-neutral-300 font-medium hover:text-orange-400 dark:hover:text-orange-300 transition-colors duration-300">Layanan</a>
            </div>

            <a href="#" class="hidden md:block bg-indigo-600 text-white font-bold py-2 px-6 rounded-full shadow-lg hover:bg-indigo-700 transition-colors duration-300">
                Hubungi Kami
            </a>
            
            <div class="md:block pl-2">
                <ThemeToggle client:load />
            </div>

            <button class="md:hidden text-neutral-600 dark:text-neutral-300 text-2xl focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                </svg>
            </button>
        </div>
    </nav>
</header>